<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  RewriteCond %{HTTP:Accept-Language} ^de [NC]
  RewriteRule ^$ /de/ [L,R=302]

  RewriteCond %{HTTP:Accept-Language} !^de [NC]
  RewriteRule ^$ /en/ [L,R=302]

  RewriteCond %{REQUEST_URI} -f [OR]
  RewriteCond %{REQUEST_URI} -d
  RewriteRule ^.*$ - [NC,L]
</IfModule>
