<IfModule mod_rewrite.c>
  RewriteEngine On

  RewriteCond %{HTTP:Accept-Language} ^de [NC]
  RewriteRule ^$ /de/ [NC,R]

  # Redirection of requests to index.html
  RewriteCond %{HTTP:Accept-Language} ^!de [NC]
  RewriteRule ^$ /en/ [NC,R]
</IfModule>
