<div class="row">
  <div class="mainContentColumn">
    <h1 class="mat-headline-5" i18n="page title">Elections</h1>

    <table mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let election">{{election.name}}</td>
      </ng-container>
      <ng-container matColumnDef="day">
        <th mat-header-cell *matHeaderCellDef>Day</th>
        <td mat-cell *matCellDef="let election">{{election.day}}</td>
      </ng-container>
      <ng-container matColumnDef="totalNumberOfSeats">
        <th mat-header-cell *matHeaderCellDef># of seats</th>
        <td mat-cell *matCellDef="let election">{{election.totalNumberOfSeats}}</td>
      </ng-container>
      <ng-container matColumnDef="votingThreshold">
        <th mat-header-cell *matHeaderCellDef>Voting threshold</th>
        <td mat-cell *matCellDef="let election">{{election.votingThreshold}}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="electionColumns"></tr>
      <tr mat-row *matRowDef="let election; columns: electionColumns"></tr>
    </table>
  </div>
</div>

