<div class="row">
  <div class="mainContentColumn">
    <h2 i18n>1. An overview of data protection</h2>
    <h3 i18n>General</h3>
    <p i18n>The following gives a simple overview of what happens to your personal information when you visit our website.
      Personal information is any data with which you could be personally identified. Detailed information on the subject
      of data protection can be found in our privacy policy found below.</p>
    <h3 i18n>Data collection on our website</h3>
    <p><strong i18n>Who is responsible for the data collection on this website?</strong></p>
    <p i18n>The data collected on this website are processed by the website operator. The operator's contact details can be found
      in the website's required legal notice.</p>
    <p><strong i18n>How do we collect your data?</strong></p>
    <p i18n>Some data are collected when you provide it to us. This could, for example, be data you enter on a contact form.</p>
    <p i18n>Other data are collected automatically by our IT systems when you visit the website. These data are primarily technical
      data such as the browser and operating system you are using or when you accessed the page. These data are collected
      automatically as soon as you enter our website.</p>
    <p><strong i18n>What do we use your data for?</strong></p>
    <p i18n>Part of the data is collected to ensure the proper functioning of the website. Other data can be used to analyze how
      visitors use the site.</p>
    <p><strong i18n>What rights do you have regarding your data?</strong></p>
    <p i18n>You always have the right to request information about your stored data, its origin, its recipients, and the purpose
      of its collection at no charge. You also have the right to request that it be corrected, blocked, or deleted. You can
      contact us at any time using the address given in the legal notice if you have further questions about the issue of
      privacy and data protection. You may also, of course, file a complaint with the competent regulatory authorities.</p>
    <h2 i18n>2. General information and mandatory information</h2>
    <h3 i18n>Data protection</h3>
    <p i18n>The operators of this website take the protection of your personal data very seriously. We treat your personal data as
      confidential and in accordance with the statutory data protection regulations and this privacy policy.</p>
    <p i18n>If you use this website, various pieces of personal data will be collected. Personal information is any data with which
      you could be personally identified. This privacy policy explains what information we collect and what we use it for.
      It also explains how and for what purpose this happens.</p>
    <p i18n>Please note that data transmitted via the internet (e.g. via email communication) may be subject to security breaches.
      Complete protection of your data from third-party access is not possible.</p>
    <h3 i18n>Notice concerning the party responsible for this website</h3>
    <p i18n>The party responsible for processing data on this website is:</p>
    <p i18n>Jim Martens<br />
      Flaßheide 45<br />
      22525 Hamburg</p>

    <p i18n>Telephone: 04021082122<br />
      Email: admin@2martens.de</p>
    <p i18n>The responsible party is the natural or legal person who alone or jointly with others decides on the purposes and means
      of processing personal data (names, email addresses, etc.).</p>
    <h3 i18n>SSL or TLS encryption</h3>
    <p i18n>This site uses SSL or TLS encryption for security reasons and for the protection of the
    transmission of confidential content, such as the inquiries you send to us as the site operator. You can recognize an
    encrypted connection in your browser's address line when it changes from "http://" to "https://" and the lock icon is
    displayed in your browser's address bar.</p>
    <p i18n>If SSL or TLS encryption is activated, the data you transfer to us cannot be read by third parties.</p>
    <h3 i18n>Opposition to promotional emails</h3>
    <p i18n>We hereby expressly prohibit the use of contact data published in the context
    of website legal notice requirements with regard to sending promotional and informational materials not expressly
    requested. The website operator reserves the right to take specific legal action if unsolicited advertising material,
    such as email spam, is received.</p>
    <h2 i18n>3. Data collection on our website</h2>
    <h3 i18n>Server log files</h3>
    <p i18n>The website provider automatically collects and stores information that your browser automatically transmits to us in
      "server log files". These are:</p>
    <ul>
      <li i18n>Browser type and browser version</li>
      <li i18n>Operating system used</li>
      <li i18n>Referrer URL</li>
      <li i18n>Host name of the accessing computer</li>
      <li i18n>Time of the server request</li>
      <li i18n>IP address</li>
    </ul>
    <p i18n>These data will not be combined with data from other sources.</p>
    <p i18n>The basis for data processing is Art. 6 (1) (b) DSGVO, which allows the processing of data to fulfill a contract or
      for measures preliminary to a contract.</p>
  </div>
</div>
