<h1 class="mat-headline-5">{{viewModel.election.name}}</h1>

<table mat-table [dataSource]="seatsPerParty" *ngIf="electedCandidates != null">
  <ng-container matColumnDef="party">
    <th mat-header-cell *matHeaderCellDef i18n>Party</th>
    <td mat-cell *matCellDef="let row">{{row.party.abbreviation}}</td>
  </ng-container>
  <ng-container matColumnDef="seats">
    <th mat-header-cell *matHeaderCellDef i18n>Seats</th>
    <td mat-cell *matCellDef="let row">{{row.seats}}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="resultColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: resultColumns"></tr>
</table>

<button mat-raised-button i18n #calculateButton (keyup.enter)="onCalculate()" (click)="onCalculate()">
  <mat-spinner class="spinner" *ngIf="showSpinner"></mat-spinner>
  Calculate
</button>


<form [formGroup]="form">
  <mat-tab-group>
    <mat-tab i18n-label label="Overall results"
             formGroupName="overallResults">
      <mat-tab-group>
        <mat-tab *ngFor="let overallResult of viewModel.electionResult.overallResults"
                 label="{{overallResult.partyAbbreviation}}"
                 formGroupName="{{overallResult.partyAbbreviation}}">
          <mat-form-field>
            <mat-label i18n>Votes on nomination</mat-label>
            <input matInput type="number" formControlName="votesOnNomination"
                   value="{{overallResult.votesOnNomination}}">
          </mat-form-field>
          <mat-form-field>
            <mat-label i18n>Votes through healing</mat-label>
            <input matInput type="number" formControlName="votesThroughHealing"
                   value="{{overallResult.votesThroughHealing}}">
          </mat-form-field>
          <div formArrayName="votesPerPosition">
            <mat-form-field *ngFor="let entry of overallResult.votesPerPosition | keyvalue: keyAscOrder; let i = index">
              <mat-label>{{entry.key}}
                : {{getCandidateNameOverall(overallResult.partyAbbreviation, +entry.key)}}</mat-label>
              <input matInput type="number" value="{{entry.value}}" [formControlName]="i">
            </mat-form-field>
          </div>
        </mat-tab>
      </mat-tab-group>
    </mat-tab>
    <mat-tab i18n-label label="Constituency results"
             formGroupName="constituencyResults">
      <mat-tab-group>
        <mat-tab *ngFor="let constituency of getConstituencies()"
                 label="{{constituency.name}}"
                 formGroupName="{{constituency.name}}">
          <mat-tab-group>
            <mat-tab
              *ngFor="let constituencyResult of getConstituencyResults(constituency.number)"
              label="{{constituencyResult.partyAbbreviation}}"
              formGroupName="{{constituencyResult.partyAbbreviation}}">
              <div formArrayName="votesPerPosition">
                <mat-form-field
                  *ngFor="let entry of constituencyResult.votesPerPosition | keyvalue: keyAscOrder; let i = index">
                  <mat-label>{{entry.key}}
                    : {{getCandidateNameConstituency(constituency.number, constituencyResult.partyAbbreviation, +entry.key)}}
                  </mat-label>
                  <input matInput type="number" value="{{entry.value}}" [formControlName]="i">
                </mat-form-field>
              </div>
            </mat-tab>
          </mat-tab-group>
        </mat-tab>
      </mat-tab-group>
    </mat-tab>
  </mat-tab-group>
</form>
