@use '../../../sass/mixins';

.spinner {
  height: 20px !important;
  width: 20px !important;
  display: inline-block;
}

.mt-2 {
  margin-top: 2em;
}

.row {
  @include mixins.justifyContent(space-between);
}
